<div fxLayout="column" class="full-width container">
    <div fxLayoutAlign="center center" class="full-width" fxLayout="column" fxLayoutGap="15px">
        <h1 class="accent-color title">Grants Search</h1>
        <div class="full-width" fxLayoutAlign="center center">
            <mat-form-field fxFlex="50" fxFlex.xs="80" color="primary">
                <mat-label>Search</mat-label>
                <input matInput placeholder="search ...">
            </mat-form-field>
        </div>
        <div class="full-width">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                <div fxFlex="10" fxFlex.xs="20">
                    <span style="font-size: 16px;">Suggested tags:</span>
                </div>
                <div fxFlex="90" fxFlex.xs="80" fxLayout="row" fxLayoutGap="15px" class="scroll-contain">
                    <div class="scroller" fxLayout="row" fxLayoutGap="15px">
                        <div class="tag-container" fxLayoutGap="10px">
                            <button mat-raised-button color="primary" *ngFor="let item of tagList">{{item}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="full-width">
            <app-filter-body></app-filter-body>
        </div>

    </div>
</div>
