.filter-header{
    font-weight: 600;
    font-size: 14px;
}

.more{
    font-size: 12px;
    font-weight: 600;
}

.settings-container{
    position: relative;
    .selections-panel{
        position: absolute;
        left: 5px;
    }
}